@keyframes gradient-background {
    0% {
      background-color: lightblue;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightblue;
    }
  }
  
  .container {
    padding: 20px;
    animation: gradient-background 8s infinite; /* Smooth gradient transition */
    border-radius: 8px;
    height: 100%;
  }
  
  .partition {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent overlay */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a soft shadow for depth */
  }
  
  .action-button {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */
  }
  
  .action-button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
  .events {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .events h2 {
    color: #333;
  }
  
  .events p {
    color: #666;
  }

  .events {
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .events h2 {
    color: #333;
  }
  
  .event-item {
    padding: 15px;
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .event-item h3 {
    margin: 0 0 10px;
  }
  
  .event-item p {
    margin-bottom: 10px;
  }
  
  .details-button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .details-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }