@keyframes gradient-background {
    0% {
      background-color: lightblue;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightblue;
    }
  }

.choose-table {
    animation: gradient-background 3s infinite;
    height: 100vh;
    padding: 20px;
}

.choose-hall-item {
    background-color: white;
    margin: 7px;
    padding: 10px;
}

.choose-table-item {
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}