@keyframes gradient-background {
    0% {
      background-color: lightblue;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightblue;
    }
  }

  .my-events {
    animation: gradient-background 3s infinite;
    height: 100vh;
    padding: 20px;
  }

  .my-event-item{
    background-color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
  }

  .seated {
    display: none;
  }