@keyframes gradient-background {
    0% {
      background-color: lightblue;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightblue;
    }
  }

.participant-dashboard {
    animation: gradient-background 4s infinite;
    padding: 40px;
    min-height: 100%;
}

html{
  height: 100vh;
  margin: 0;
  padding:0;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}