@keyframes gradient-background {
    0% {
      background-color: lightblue;
    }
    50% {
      background-color: lightgreen;
    }
    100% {
      background-color: lightblue;
    }
  }

.participant-dashboard {
    animation: gradient-background 4s infinite;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}