.event-item{
    box-sizing: border-box;
    background-image: linear-gradient(black, rgb(14, 161, 141));
    color: white;
    padding: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    border-radius: 10px;
}

.symbol-container{
    height: 100px;
}

.symbol-container img{
    height: 100%;
}

button{
    margin-right: 5px;
}