header{
    height: 25vh;
    padding: 15px;
    background-image: linear-gradient(to right, #3F48CC, #00d93a);
    color: white;
}

.nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav li{
    margin-right: 5px;
}