header{
    height: 25vh;
    padding: 15px;
    background-image: linear-gradient(to right, #090d14, #293e5d);
    color: white;
    border-bottom: 4px solid white;
}

.nav{
    display: flex;
    list-style: none;
    padding: 0;
}

.nav li{
    margin-right: 5px;
}