.location-item{
    box-sizing: border-box;
    background-image: linear-gradient(black, rgb(14, 161, 141));
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
}